$white: #fff;
$themeBlue: #0c215f;
$themeOrange: #ffaf0a;
$themeOrangeLight: #ffcd28;
$heroLightColor: #f7fafc;
$heroDarkColor: #2c3e50;
$franceBlue: #0055a4;

$themes: (
  light: (
    mainColor: $themeBlue,
    backgroundColor: $white,
    backgroundHeaderColor: $white,
    textColor: black,
    buttonTextColor: black,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #515151,
    buttonColor: $white,
    buttonBorder: 2px solid $white,
    navLinkColor: #0c215f,
    heroBackground: $heroLightColor,
    footerBackground: #f7fafc,
    franceBlue: $franceBlue,
    underlinedStart: $themeBlue,
    underlinedEnd: $franceBlue
  ),
  dark: (
    mainColor: $themeOrange,
    backgroundColor: #222,
    backgroundHeaderColor: rgb(49, 49, 49),
    textColor: #ddd,
    buttonTextColor: #aaa,
    buttonTextTransform: uppercase,
    buttonTextHoverColor: #ddd,
    buttonColor: #333,
    buttonBorder: 1px solid #aaa,
    navLinkColor: $themeOrangeLight,
    heroBackground: $heroDarkColor,
    footerBackground: $heroDarkColor,
    underlinedStart: $themeOrange,
    underlinedEnd: $themeOrangeLight
  )
);
