@import 'themes';
@import 'themify';
@import 'themed';

$medium: 820px;

.main-container {
  @include themify($themes) {
    color: themed('textColor');
    background-color: themed('backgroundColor');

    header {
      background-color: themed('backgroundHeaderColor');
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 4;
      display: flex;
      justify-content: space-evenly;
      box-shadow: 0 4px 3px -3px rgb(0 0 0 / 20%);
      border-top: 2px solid themed('mainColor');

      img.logo {
        height: 3.1rem;
      }

      nav {
        .close {
          display: none;
        }

        transition: all 0.4s;
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          li {
            display: inline-block;
            margin-right: 28px;
          }
        }
      }

      .menu-bar {
        display: none;
        padding-top: 12px;
        color: #ecf0f1;
        font-size: 22px;
        cursor: pointer;
      }

      @media screen and (max-width: $medium) {
        padding-left: 1rem;
        justify-content: space-between;

        nav {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          z-index: 2;
          transform: translateX(100%);
          opacity: 0.7;
          background-color: rgba(75, 75, 185, 0.945);

          ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;

            li {
              font-size: 35px;
              padding-top: 12px;

              a {
                color: #fff;
              }
            }
          }

          .close {
            display: block;
            position: absolute;
            right: 0;
            cursor: pointer;
            color: #fff;
            font-size: 40px;
            margin-right: 1rem;
          }
        }

        nav.show {
          transform: translateX(0);
          opacity: 1;
        }

        .menu-bar {
          display: block;
          padding-right: 1rem;
          .bar {
            width: 30px;
            height: 3px;
            background-color: themed('mainColor');
            margin: 4px;
            border-radius: 3px;
          }
          .bar:first-of-type {
            width: 24px;
          }
          .bar:nth-last-of-type(3) {
            width: 28px;
          }
        }
      }
    }

    h2 .underlined {
      background-image: linear-gradient(180deg, themed('underlinedStart') 50%, themed('underlinedEnd'));
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: 0 100%;
      transition: background-size 0.25s ease-in;
      border-radius: 2px;
      padding-bottom: 0;
      padding-left: 2px;
    }

    .france-blue {
      color: themed('franceBlue');
    }

    .theme-change {
      .lni.lni-sun {
        color: rgb(255, 255, 30);
      }
      .lni.lni-night {
        color: #0c215f;
      }
    }

    .footer {
      background-color: themed('footerBackground');
      border-bottom: 6px solid themed('mainColor');
    }
  }

  .theme-change.active {
    display: none;
    .lni.lni-sun {
      color: black;
    }
    .lni.lni-night {
      color: black;
    }
  }

  .button {
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 32px;
    display: inline-block;
    transition: color 0.1s, border-color 0.1s, background-color 0.1s;

    @include themify($themes) {
      border: themed('buttonBorder');
      color: themed('buttonTextColor');
      border-color: themed('buttonTextColor');
      background-color: themed('buttonColor');
      text-transform: themed('buttonTextTransform');

      &:hover {
        color: themed('buttonTextHoverColor');
        border-color: themed('buttonTextHoverColor');
        background-color: themed('buttonHoverColor');
      }
    }
  }

  nav {
    ul {
      li {
        a {
          @include themify($themes) {
            margin: 0;
            text-decoration: none;
            position: relative;
            color: themed('navLinkColor');
          }
        }
      }
    }
  }

  .section {
    .s1 {
      @include themify($themes) {
        background-color: themed('heroBackground');
      }
    }
  }

  .japan-red {
    color: #ef3340;
  }
}
