@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap');
@import 'style/theme-styling';

$small: 510px;
$medium: 820px;
$large: 1024px;
$white: #fff;
$lightGrey: #f5f5f5;
$grey: #9b9b9b;
$borderColor: #c1c1c1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin three-column-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 0;
  max-width: 900px;
  margin: 1rem auto 4rem;
  padding: 12px;
}

@mixin full-width {
  width: 100%;
}

@mixin image-fit {
  img {
    @include full-width;
  }
}

@mixin image-fit-250 {
  img {
    @include full-width;
    min-height: 250px;
  }
}

@mixin width-small-screen {
  @media screen and (max-width: $small) {
    width: 85% !important;
  }
}

@mixin grid-small-screen {
  @media screen and (max-width: $medium) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 18px;
    width: 70%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.section {
  .s1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 0;
    max-width: 900px;
    margin: 6rem auto;
    border-radius: 5px;
    padding: 12px;

    h1 {
      font-size: 1.8rem;
      margin-bottom: 0.7rem;
    }
    h2 {
      margin-bottom: 0.6rem;
    }

    .left {
      padding: 18px;
      .moto {
        margin-bottom: 1rem;
      }
    }

    .right {
      img {
        width: 100%;
        height: 300px;
      }
    }

    @media screen and (max-width: $medium) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 12px;
      grid-row-gap: 18px;
      height: calc(100vh - 54px);
      margin: 3rem auto;
      text-align: center;

      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
  }
  .how {
    h2 {
      text-align: center;
    }
    .i-do {
      @include three-column-grid;
      @include width-small-screen;
      @include grid-small-screen;

      .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 260px;
        border-radius: 5px;
        padding: 6px;
        transition: all 0.4s;
        box-shadow: 0 4px 10px -3px rgb(0 0 0 / 20%);
        border: 1px solid #f4f4f4;
        border-bottom: 2px solid #4b4bb9;

        @include image-fit;

        .title {
          padding-bottom: 1rem;
          text-align: center;
          font-weight: 600;
        }
      }
      .col:hover {
        transform: scale(1.03);
        box-shadow: -1px 7px 15px -6px rgb(0 0 0 / 25%);
      }
    }
  }

  .s2 {
    text-align: center;
    margin: 6rem auto;

    .what-i-build {
      display: flex;
      flex-direction: column;

      .projects {
        @include three-column-grid;
        @include width-small-screen;
        @include grid-small-screen;

        .project {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-areas:
            'top-bar'
            'content';
          background-color: $white;
          border: 1px solid $borderColor;
          box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
          border-bottom: 2px solid #4b4bb9;
        }

        .top-bar {
          border-radius: 5px 5px 0 0;
          grid-area: top-bar;
          border-bottom: 1px solid $borderColor;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dots-wrapper {
            display: flex;
            padding: 5px;

            .browser-dot {
              background-color: black;
              height: 15px;
              width: 15px;
              border-radius: 50%;
              margin: 5px;

              -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
              box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
            }

            .dot-1 {
              background-color: #fc6058;
            }

            .dot-2 {
              background-color: #fec02f;
            }

            .dot-3 {
              background-color: #2aca3e;
            }
          }
        }

        .content {
          padding: 0.2rem;
          @include image-fit-250;

          .header {
            .sub-header {
              color: $grey;
            }
          }
        }
      }

      @media screen and (max-width: $medium) {
        .projects {
          flex-direction: column;
        }
      }
    }
    .what-i-use {
      .technologies {
        h3 {
          padding-top: 2rem;
          opacity: 0.7;
          font-size: 1.3rem;
        }
        .skills-block {
          height: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            padding-right: 0.3rem;
          }
        }

        font-size: 3rem;
        .devicon {
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            transform: translateY(-10px);
            // transform: scale(1.2) translateY(-4px);
          }
        }
      }
    }
  }

  .s3 {
    text-align: center;
  }

  .s4 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    .flex-column {
      display: flex;
      flex-direction: column;
    }

    .book {
      .book-title {
        padding: 1rem;
        font-style: italic;
        span:first-of-type {
          &::before {
            font-size: 2.5em;
            line-height: 0.1em;
            margin-right: 0.1em;
            vertical-align: -0.25em;
            content: '\201C';
          }
        }
        &:after {
          font-size: 2.5em;
          line-height: 0.1em;
          vertical-align: -0.5em;
          content: '\201D';
        }
      }
      .book-author:last-child {
        top: 5px;
      }
    }
  }
  .last {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .contact-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      .contact-header {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      .down-arrow {
        animation: MoveUpDown 2s ease-in-out infinite;
        left: 0;
        bottom: 0;
      }

      @keyframes MoveUpDown {
        0%,
        100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-1rem);
        }
      }

      a.button {
        text-decoration: none;
      }
    }
  }
}

.footer {
  max-height: 150px;
  color: #fff;
  padding: 1rem;
  text-align: center;
  color: #7f8c8d;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // p {}
  svg {
    height: 2rem;
  }
}

#fp-nav li .fp-tooltip {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  color: #4b4bb9 !important;
}
